<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="br.com.laminarsoft.jazzitnotification.JazzitNotificationPlugin"
    version="0.1.0">
    <name>JazzitNotificationPlugin</name>
    <description>Cordova jazzitnotification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,JazzitNotificationPlugin</keywords>
    <js-module src="www/jazzitnotification.js" name="jazzitnotification">
        <clobbers target="navigator.jazzitnotification" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JazzitNotificationPlugin">
                <param name="android-package" value="br.com.laminarsoft.jazzitnotification.JazzitNotificationPlugin"/>
            </feature>
        </config-file>
      
        <source-file src="src/android/JazzitNotificationPlugin.java" target-dir="src/br/com/laminarsoft/jazzitnotification/" />
        <source-file src="src/android/NotificationReceiver.java" target-dir="src/br/com/laminarsoft/jazzitnotification/" />
        <source-file src="src/android/ArquivoVO.java" target-dir="src/br/com/laminarsoft/jazzitnotification/" />
        <source-file src="src/android/libs/simple-xml-2.7.1.jar" target-dir="libs" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="res/xml/config.xml" parent="widget">
            <feature name="JazzitNotificationPlugin">
                <param name="ios-package" value="br.com.laminarsoft.jazzitnotification.JazzitNotificationPlugin"/>
            </feature>
        </config-file>     
        
        <header-file src="src/ios/LSJAsset.h" />
        <source-file src="src/ios/LSJAsset.m" />        
    </platform>
    
</plugin>

